/* reset css */
html {
  font-size: 75%;
}

@media (min-width:800px){
  html{
    font-size: 90%;
  }
}

@media (min-width:1600px){
  html{
    font-size: 100%;
  }
}

body {
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Intro page style */

.intro {
  background-color: #552277;
  background-image: url(media/image-icons/vanishing-stripes.svg);
}

.intro__wrapper {
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.8rem;
}

.intro__wrapper div {
  padding: 0.4rem;
}

.intro__wrapper h2 {
  padding: .2rem .4rem;
  color: #fff;
}

.start__button {
  padding: .4rem 2.5rem;
  border: 2px solid #ccc;
  border-radius: 1rem;



}

.start__button:hover,
.start__button:active {
  background-color: black;
  color: #fff;
}


/* page 2 */
.main {
  min-height: 100vh;
  padding: 1rem;

  background-color:#552277 ;
  background-image: url(media/image-icons/vanishing-stripes.svg);

  display: none;

}

.main__container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(3rem, auto) minmax(10rem, auto) minmax(2rem, auto) repeat(2, minmax(10rem, auto));
  align-items: center;
}
  .heading h1{
      padding:0 0 .2rem;
      text-align: center;
      color:#fff;
      font-size: 1.2rem;
    text-transform: capitalize;

  }

  .content__score,
  .score__number {
    display: flex;
    justify-content: space-evenly;
  }
.content__score{
  align-items: center;
}
.content__score .vs{
  color:#fff;
  font-size: 1.3rem;
  font-weight: bold;
}

.score__number{
  color:#fff;
  font-size: 1.2rem;
  font-weight: bold;

}
.gameplay img{
  background: #fff;
  
}




.gameplay {
  display: flex;
  justify-content: space-evenly;
}

.button {
  display: flex;
  justify-content: space-evenly;
}

/* page 3 */

.congrats {
  height: 100vh;
  padding: 1rem;

  background-color:#552277 ;
  background-image: url(media/image-icons/vanishing-stripes.svg);

  display: none;

}

.congrats__wrapper {
  height: 80%;
  
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  color:#fff;
  font-size: 1.6rem;
}
 

.pa{
  border:2px solid #fff;
  padding:.7rem 1.5rem;
  border-radius: .4rem;
  
}
.pa:hover,
.pa:active{
  background-color: black;
  color:#fff;
}

/* page 4 */
.sad {


  background-color:#552277 ;
  background-image: url(media/image-icons/vanishing-stripes.svg);
  color:#fff;
  font-size: 1.6rem;

  display: none;
  justify-content: center;
  align-items: center;
}

.sad__wrapper {
  height: 100vh;
  padding: 1rem .2rem;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}